* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  background-image: linear-gradient(
    145deg,
    rgb(216, 54, 54),
    rgb(22, 124, 161)
  );
}

h1 {
  background: linear-gradient(145deg, rgb(30, 242, 2), rgb(0, 217, 255));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 3.5rem;
  margin-bottom: 3rem;
  letter-spacing: 2px;
}

.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.4);
  padding: 3rem 2.5rem;
  border-radius: 15px;
  backdrop-filter: blur(10px);
}

.timer {
  background-color: rgba(255, 255, 255, 0.15);
  padding: 2.5rem;
  margin: 0px 20px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 160px;
  min-width: 100px;
  height: 160px;
  transition: background-color 0.2s ease-in;
  position: relative;
  /* z-index: 0; */
}

.timer::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border-radius: 22px; /* slightly larger than .timer for the border effect */
  background: linear-gradient(135deg, rgb(115, 17, 154), rgb(50, 50, 194));
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.timer:hover::before {
  opacity: 1;
}

.timer:hover {
  background-color: rgb(153, 140, 140);
}

.timer:hover .time {
  text-shadow: 2px 2px 6px rgb(10, 214, 30);
  color: antiquewhite;
}
.timer:hover .timeName {
  text-shadow: 1px 1px 4px rgb(10, 167, 214);
  color: antiquewhite;
}


.timer .time {
  font-size: 3.4rem;
  font-weight: 600;
  text-shadow: 0px 0px 2px rgb(10, 214, 30);
}

.timer .timeName {
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
  text-shadow: 0px 0px 2px rgb(10, 167, 214);
}

#offer {
  color: rgb(12, 27, 193);

  font-size: 3rem;
  margin-block: 3rem;
  letter-spacing: 2px;
  background-color: #bbb7c6;
  border: 2px dashed black;
  padding: 10px;
  border-radius: 12px;
 
}

.show{
  display: none;
}

@media screen and (max-width: 1024px) {
  h1 {
    font-size: 2.8rem;
  }
  #offer {
    font-size: 2.4rem;
  }
  .counter {
    flex-wrap: wrap;
    padding: 2rem 1.5rem;
  }

  .timer {
    margin: 20px;
  }
}
@media screen and (max-width: 800px) {
  .counter {
    padding: 1rem;
  }
}
@media screen and (max-width: 540px) {
  h1 {
    font-size: 2.2rem;
  }
  #offer {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 400px) {
  h1 {
    font-size: 1.8rem;
    text-align: center;
  }
  #offer {
    font-size: 1.4rem;
    text-align: left;
  }
}
